<!DOCTYPE html>
<html>
<head>
    <title>Hello Ansibel!</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>Welcome to Ansible demo!</h1>
<p>If you see this page, the nginx web server is successfully installed and
    working. Further configuration is required.</p>
<p>This page is created by {{ lookup('env','USER') }}</p>
</body>
</html>
